@use "variables" as *;
@use "mixins" as *;
@use "keyframes" as *;

// IMPORTED FONTS

// Aleo
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");
// Josefin Sans
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
//fontAwesome
@font-face {
  font-family: fontAwesome;
  font-weight: 400;
  src: url("../assets/fonts/Awesome-regular-400.otf") format("opentype");
}

.ff-aleo {
  font-family: "Aleo", serif;
}

//HELPER CLASSES

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @include mp-0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-btn {
  text-transform: uppercase;
  background-color: $primary-bg;
  font-family: "Aleo", serif;
  font-size: 0.8rem;
  color: inherit;
  border: none;
  letter-spacing: 1.4px;
  &:hover {
    background-color: $primary-bg-hover;
  }
  &:active {
    background-color: $primary-bg-focus;
  }
}

// FONT SIZES

.f-s14 {
  font-size: 0.8rem;
}

.f-s20 {
  font-size: 1.25rem;
}

.f-s22 {
  font-size: 1.3rem;
}

.f-s24 {
  font-size: 1.5rem;
}

.f-s36 {
  font-size: 2.25rem;
}

.f-s48 {
  font-size: 3rem;
}

// FONT WEIGHT

.fw-700 {
  font-weight: 700;
}

// LINE HEIGHT

.lh-11 {
  line-height: 1.1;
}

.lh-16 {
  line-height: 1.6;
}

.lh-18 {
  line-height: 1.8;
}

// LETTER-SPACING

.ls-16 {
  letter-spacing: 1.6px;
}

.ls-24 {
  letter-spacing: 2.4px;
}

.ls-28 {
  letter-spacing: 2.8px;
}
.ls-48 {
  letter-spacing: 4.8px;
}

.ls-68 {
  letter-spacing: 6.8px;
}

//UPPERCASE
.text-upper-case {
  text-transform: uppercase;
}

// PADDINGS
.pb-15 {
  padding-bottom: 0.9rem;
}

// HERO PAGE
.hero-page {
  height: 88vh;
  width: 100%;
  @include background-image("../img/index/hero-bg.png");
  &__content {
    @include d-flex-column-center;
    padding-top: 12%;
    &-title {
      h1 {
        @include mp-0;
      }
    }
    &-scroll {
      padding-top: 5%;
      text-align: center;
      animation: float 700ms infinite;
      a {
        span {
          display: block;
        }
      }
    }
    .search-container {
      margin-top: 3%;
      width: 40vw;
      height: 55px;
      background-color: $primary-color;
      position: relative;

      form {
        input[type="text"] {
          height: 100%;
          width: 75%;
          position: absolute;
          top: 0;
          left: 0;
          padding-left: 15%;
          letter-spacing: 2.8px;
          color: #626262;
          border: none;
        }
        button[type="submit"] {
          height: 100%;
          width: 25%;
          @include position-absolute-0;
          box-shadow: inset 0px 0px 0px 2px $primary-color;
          &:focus {
            box-shadow: none;
          }
          span {
            position: relative;
            top: -5px;
            left: 8px;
            padding-right: 0.9rem;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    background-position: top 10% left 20%;
    &__content {
      padding-top: 22%;
      &-scroll {
        padding-top: 10%;
      }
    }

    .search-container {
      margin-top: 5%;
      width: 60vw;
      form {
        input[type="text"] {
          padding-left: 7%;
        }
      }
    }
  }
  @media (max-width: 769px) {
    &__content {
      padding-top: 37%;
    }
    .search-container {
      margin-top: 14%;
      width: 80vw;

      form {
        button[type="submit"] {
          span {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    &__content {
      padding-top: 56%;
    }
    .search-container {
      margin-top: 20%;
      form {
        input[type="text"] {
          padding-left: 2%;
        }
      }
    }
  }
}

// WHY US SECTION

.why-us {
  height: 100vh;
  width: 100%;
  @include background-image("../img/page2/bg.png");
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  &__description {
    width: 55vw;
    padding-top: 15%;
    h2 {
      font-family: "Aleo", serif;
      font-size: 2.25rem;
      padding-bottom: 1.5rem;
    }

    p {
      color: $description-color;
    }
    button {
      width: 36%;
      height: 55px;
    }
  }
  &__pictures {
    width: 40vw;
    position: relative;
    img {
      width: 75%;
      height: auto;
      transition: 500ms ease-in-out;
      &:hover,
      &:active {
        width: 100%;
        z-index: 2;
      }
    }
    .img1 {
      position: absolute;
      top: 15%;
      left: 10%;
    }
    .img2 {
      position: absolute;
      top: 50%;
      left: 32%;
    }
  }

  @media (max-width: 750px) {
    background-position: top 10% left 20%;
    display: block;
    padding: 0 5%;
    &__description {
      width: 100%;
      padding-top: 10%;
      @include d-flex-column-center;

      button {
        width: 50vw;
      }
    }
    &__pictures {
      width: 100%;
      height: auto;

      .img1 {
        padding-top: 10%;
        width: 350px;
        z-index: 0;
        &:hover,
        &:active {
          z-index: 0;
          width: 350px;
        }
      }
      .img2 {
        display: none;
      }
    }
  }
}

.search-places {
  padding: 0 15%;
  height: 44vh;
  width: 100%;
  background-color: #333333;
  position: relative;

  &__line {
    position: absolute;
    top: 18%;
    left: 26.3%;
    width: 50%;
    height: 30%;
    z-index: 1;
  }
  &__points {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5.5rem;
    margin: 0;
    gap: 7rem;
    li {
      z-index: 2;
      list-style: none;
      @include d-flex-column-center;
      justify-content: center;

      &:hover {
        @include animation(wiggle 2000ms ease-out infinite);
        color: $primary-bg-focus;
      }

      span {
        padding-top: 1rem;
      }
    }
  }
  &__description {
    display: block;
  }
}

.section-4 {
  @include section-size-100-relative;
  @include background-image("../img/page4/grand-spain-1.png");
  &__description {
    position: absolute;
    top: 33%;
    left: 20%;
    @include section-block;
  }
}

.section-5 {
  @include section-size-100-relative;
  @include background-image("../img/page5/grand-spain-2.png");
  &__description {
    position: absolute;
    top: 33%;
    left: 55%;
    @include section-block;
  }
}

.section-6 {
  @include section-size-100-relative;
  @include background-image("../img/page6/what-our-tourists-say.png");
  h3 {
    text-align: center;
    margin: 0;
    padding: 5rem 0;
  }
  &__content {
    @include d-flex-center;
    height: 230px;
    .section-6__content-img {
      width: 360px;
      height: 100%;
    }
    &-description {
      height: 230px;
      max-width: 43vw;
      padding-left: 2.5rem;
      padding-right: 1rem;
      font-family: fontAwesome, sans-serif;
      background-color: #333333;
      h4 {
        padding-top: 1rem;
        margin-bottom: -0.8rem;
      }
      img {
        width: 2rem;
        margin-bottom: -0.5rem;
      }
    }
  }
}

.footer {
  padding-top: 2rem;
  height: 30vh;
  width: 100%;
  background-color: #333333;
  @include d-flex-column-center;
  justify-content: center;
  span {
    padding: 0.5rem 0 1.5rem 0;
  }
  .social-media-icons {
    img {
      height: 15px;
      padding: 0 0.25rem;
    }
  }
}
