@use "variables" as *;
@use "mixins" as *;

.main-navigation {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: $primary-bg;
  padding: 0 1.25rem;
  text-transform: uppercase;
  color: inherit;

  .company-logo {
    margin-left: 15%;

    a {
      &:hover,
      &:active {
        color: $link-hover;
      }
    }
  }

  .pages-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;

    .btn {
      display: none;
      border: none;
      background-color: transparent;

      .icon {
        font-size: 2rem;
        color: $primary-color;
        cursor: pointer;
      }
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin: 0 0.9rem;
        padding: 0.6rem;

        a {
          font-family: "Aleo", serif;
          font-size: 0.8rem;
        }

        &:hover,
        &:active {
          background-color: $primary-bg-hover;
        }
      }
    }

    .active {
      left: 0;
    }

    @media (max-width: 990px) {
      .btn {
        display: block;
      }

      ul {
        position: fixed;
        bottom: 8%;
        left: -100vw;
        background-color: rgba(128, 128, 128, 0.6);
        height: 20vh;
        width: 100%;
        transition: left 1000ms ease;
        padding: 1rem 0;
        li {
          display: block;
          text-align: center;
        }
      }
    }
  }
  @media ((min-width: 991px) and (max-width: 1100px)) {
    .pages-navigation {
      margin-right: 5%;
      ul {
        li {
          margin: 0 0.6rem;
        }
      }
    }
  }
}
